    h1 {
        color: rgb(102, 176, 241);
    }
    
    body {
        background-color: #cff2ffd7;
    }
    
    #resultadoimagem {
        width: 50%;
        margin: 5% 0% 2% 24%;
    }
    #lista{
        font-weight: bolder;
    }

    
    
    

    @media only screen and (min-width: 100px) and (max-width:450px) {
        .carousel-inner, .carrousel-item{
            height: 30vh;
          } 

     
    }
 
    @media only screen and (min-width: 530px) and (max-width:1200px) {
        .carousel-inner, .carrousel-item{
            height: 50vh;
          } 
        
    }

   

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    .carousel-inner, .carrousel-item{
        height: 60vh;
      } 
      .carousel-caption{
        top: 25%;   
        }
      .carousel-caption h5{
        font-size: 50px;
        margin-bottom: 30px;  
        font-weight: bolder; 
        color: white;
        }
        .carousel-caption p{
            font-size: 22px;
            font-weight: 300px;
            margin-bottom: 100px;
            color:white;
        }
        .m-md-5 {
            margin-left: 10rem!important ; 
            margin-right: 10rem!important ; 
        }
        .img-login{
            background-image: url("/img/login.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right 50% bottom 45%;
        }
        .img-cadastro{
            background-image: url("/img/cadastro.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom 20px right 100%;
        }
}

.img-teste{
    background-image: url("/img/cadastro.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 50% right 30%;
    background-attachment:inherit
}